body {
    font-family: 'Open Sans', sans-serif;
    color: #fff !important;
}
 
.logo {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.7rem;
}

.main {
    height: 80vh !important;
    border-radius: 0 0 50% 0; 
    overflow: hidden !important;
}

.text-heading {
    color: #7e00a3 !important;
}

.text-primary {
    color: #a86db9 !important;
}

.text-secondary {
    color: #af92b7 !important;
}

.bg-main {
    background-color: #7e00a3 !important;
}
.bg-primary {
    background-color: rgba(163, 44, 196, 0.06) !important;
}

.bg-secondary {
    background-color: #a86db9 !important;
}

.dropdown-item.active {
    background-color:  rgba(163, 44, 196, 0.05) !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.text-sm {
    font-size: small;
}

.btn-explore:hover {
    transition: .4s;
    background-color: #a455b9 !important;
}

.border-none {
    border: none !important;
}
.btn-primary {
    background-color:  #7e00a3 !important;
}

.btn-secondary {
    background-color: #a86db9 !important;
}

#college_img {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(155, 155, 155, 0.2) , rgba(126, 0, 163, 0.05)), url('https://images.unsplash.com/photo-1599634874901-e919c4fe1400?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aWl0fGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    background-position: center;
    background-size: cover;
}

#search_college:focus {
    background-color: #fafafa;
    box-shadow: 0 0 0 0.25rem rgb(201, 181, 207, 0.7);
}

#college_card_body:nth-child(2) {
    color: #000 !important;
    font-size: small;
}

.active>.page-link, .page-link.active {
    background-color: #7e00a3 !important;
}