{% for college in colleges %}
<div class="col-4 my-2">
    <div class="card p-2 d-flex justify-content-between align-items-start flex-row shadow" style="height: 180px;">
        <img src="{{college.image.url}}" class="card-img-top" alt="College Image" style="height: 165px;width: 135px;">
        <div class="card_body d-flex justify-content-between align-items-start flex-column"
            style="flex: 1;padding-left: 20px;" id="college_card_body">
            <h5 class="card-title text-dark">{{college.name}}</h5>
            <p class="card-text text-dark mb-1" style="font-size: small;">⟟ {{college.city}}, {{college.state}}</p>
            <p class="mb-1">{{ college.description|safe|truncatechars:60 }}</p>
            <div class="d-flex justify-content-between align-items-center w-100">
                <button class="btn btn-primary btn-sm" style="font-size: small;">Brouchure</button>
                <a href="{% url 'college.detail' college.id %}"
                    class=" text-decoration-none btn btn-secondary btn-sm">View Details</a>
            </div>
        </div>
    </div>
</div>
{% empty %}
<h3 class="text-center text-dark">No College Found</h3>
{% endfor %}