{% load static %}

<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


  <!-- This code is linking to Google Fonts and preconnecting to the domain to reduce the time it takes to
	establish a connection. It is also loading two font families, Lobster Two and Open Sans, with
	different weights and styles. -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap"
    rel="stylesheet">

  <!-- Custom CSS Link -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
  <div id="college_img">
    <header>
      <!-- place navbar here -->
      <header>
        <nav class="navbar navbar-expand-lg bg-tranparent">
          <div class="container">
            <a class="navbar-brand text-primary logo" href="{% url 'home' %}">College World</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                  <a class="nav-link active text-primary" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-primary" aria-current="page" href="{% url 'college' %}">Colleges</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-primary" aria-current="page" href="{% url 'study-abroad' %}">Study
                    Abroad</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-primary" aria-current="page" href="#">Exams</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-primary" aria-current="page" href="#">News</a>
                </li>
                <li class="nav-item dropdown text-primary ">
                  <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    More
                  </a>
                  <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item text-white" href="#">Write Reviews</a></li>
                    <li><a class="dropdown-item text-white" href="#">Q&A</a></li>
                    <li><a class="dropdown-item text-white" href="#">College Predictor</a></li>
                  </ul>
                </li>
                {% if request.user.is_authenticated %}

                <li class="nav-item dropdown text-primary ">
                  <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <svg viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000000"
                      stroke-width="0.00024000000000000003" style="width: 25px;">
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                      <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 15.0141 20.6665 17.7167 18.5573 19.5501C18.0996 18.3251 17.306 17.2481 16.2613 16.4465C15.0388 15.5085 13.5409 15 12 15C10.4591 15 8.96118 15.5085 7.73867 16.4465C6.69405 17.2481 5.90038 18.3251 5.44269 19.5501C3.33349 17.7167 2 15.0141 2 12ZM16.8296 20.7059C16.8337 20.7212 16.8381 20.7363 16.8429 20.7512C15.4081 21.5469 13.757 22 12 22C10.243 22 8.59193 21.5469 7.15711 20.7512C7.16185 20.7363 7.16628 20.7212 7.17037 20.7059C7.45525 19.6427 8.08297 18.7033 8.95619 18.0332C9.82942 17.3632 10.8993 17 12 17C13.1007 17 14.1706 17.3632 15.0438 18.0332C15.917 18.7033 16.5448 19.6427 16.8296 20.7059ZM10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9C14 10.1046 13.1046 11 12 11C10.8954 11 10 10.1046 10 9ZM12 5C9.79086 5 8 6.79086 8 9C8 11.2091 9.79086 13 12 13C14.2091 13 16 11.2091 16 9C16 6.79086 14.2091 5 12 5Z"
                          fill="#a86db9"></path>
                        <rect x="2.5" y="2.5" width="19" height="19" rx="9.5" stroke="#a86db9"></rect>
                      </g>
                    </svg>
                  </a>
                  <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item text-white" href="#">{{ request.user }}</a></li>
                    <li><a class="dropdown-item text-white" href="{% url 'login' %}">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link active text-primary btn bg-secondary" aria-current="page"
                    href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </header>
    <main>
      <div class="container d-flex justify-content-center align-items-center" style="height: 60vh;width: 100%;">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <h3 class="mb-5 text-dark fw-bold">Search BE/B.Tech Colleges, Courses and Exams</h3>
          <form class="d-flex" style="width: 100%;">
            <input class="form-control py-3" type="search" {% if search_query %} value="{{search_college}}" {% endif %}
              placeholder="Search or colleges" aria-label="Search" id="search_college" name="search_college">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </main>
  </div>

  <div class="container py-4">
    <h4 class="text-dark fw-bold mb-3">List of colleges</h4>
    <div class="row">
      {% for college in colleges %}
      <div class="col-4 my-2">
        <div class="card p-2 d-flex justify-content-between align-items-start flex-row shadow" style="height: 180px;">
          <img src="{{college.image.url}}" class="card-img-top" alt="College Image" style="height: 165px;width: 135px;">
          <div class="card_body d-flex justify-content-between align-items-start flex-column"
            style="flex: 1;padding-left: 20px;" id="college_card_body">
            <h5 class="card-title text-dark">{{college.name}}</h5>
            <p class="card-text text-dark mb-1" style="font-size: small;">⟟ {{college.city}}, {{college.state}}</p>
            <p class="mb-1">{{ college.description|safe|truncatechars:60 }}</p>
            <div class="d-flex justify-content-between align-items-center w-100">
              <button class="btn btn-primary btn-sm" style="font-size: small;">Brouchure</button>
              <a href="{% url 'college.detail' college.id %}"
                class=" text-decoration-none btn btn-secondary btn-sm">View Details</a>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <h3 class="text-center text-dark">No College Found</h3>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center">
          <div></div>
          <div>
            {% if colleges.has_other_pages %}
            <!-- Pagination -->
            <nav class="my-3 container">
              <ul class="pagination">
                {% if colleges.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{colleges.previous_page_number}}">Previous</a>
                </li>
                {% endif %}
                {% for i in colleges.paginator.page_range %}
                {% if colleges.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}
                {% if colleges.has_next %}
                <li class="page-item "><a class="page-link" href="?page={{colleges.next_page_number}}">Next</a></li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <!-- place footer here -->
    <div style="width: 100%;" class="pt-4 pb-3 mt-4 bg-primary">
      <div class="container footer text-dark">
        <div class="row">
          <div class="col-md-3">
            <h3 class="text-secondary">COLLEGE WORLD</h3>
          </div>
          <div class="col-md-3 text-secondary">
            <h5>Top Universities</h5>
            <p>Engineesing</p>
            <p>Management</p>
            <p>Medical</p>
            <p>Law</p>
            <p>...</p>
          </div>
          <div class="col-md-3 text-secondary">
            <h5>Top College</h5>
            <p>MBA</p>
            <p>MCA</p>
            <p>MTech</p>
            <p>...</p>
          </div>
          <div class="col-md-3 text-secondary">
            <h5>Top Cities</h5>
            <p>Coimbatore</p>
            <p>Chennai</p>
            <p>Delhi</p>
            <p>...</p>
          </div>

        </div>
      </div>
    </div>
    <div style="width: 100% !important;" class="bg-secondary d-flex justify-content-center align-items-center py-3">
      <p class="m-0">© 2023 CollegeWorld. All Rights Reserved</p>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->

  <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>