<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .sticky {
    background: #fff;
    width: 100%;
    color: black;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    
}
p {
    margin-bottom: 0px !important;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.flex-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar-st" style="
    padding: 15px;
    position: fixed;
    width: 100%;
">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">COLLEGE WORLD</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Find Colleges </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Get Admission </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Explore Exams </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">News </a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-primary" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div>
        <img src="https://c0.wallpaperflare.com/preview/416/179/610/kings-college-cambridge-uk-university.jpg" alt="" style="height: 550px;width: 100%;">
      </div>
      <h4 class="px-5 mt-5">Top Cites</h4>
      <div class="flex-container">
        <div class="flex-item">
          <img src="https://as1.ftcdn.net/v2/jpg/02/81/01/82/1000_F_281018202_g9sN7xwFfYrds9Rsgp8UwaUNEvcaKOoq.jpg"/>
          <h6>New Delhi</h6>
        </div>
        <div class="flex-item">
          <img src="https://as1.ftcdn.net/v2/jpg/02/81/01/82/1000_F_281018202_g9sN7xwFfYrds9Rsgp8UwaUNEvcaKOoq.jpg"/>
          <h6>Mumbai</h6>
        </div>
        <div class="flex-item">
            <img src="https://as1.ftcdn.net/v2/jpg/02/81/01/82/1000_F_281018202_g9sN7xwFfYrds9Rsgp8UwaUNEvcaKOoq.jpg"/>
            <h6>Bangalore</h6>
        </div>
        <div class="flex-item">
            <img src="https://as1.ftcdn.net/v2/jpg/02/81/01/82/1000_F_281018202_g9sN7xwFfYrds9Rsgp8UwaUNEvcaKOoq.jpg"/>
            <h6>Hyderabad</h6>
        </div>
        <div class="flex-item">
            <img src="https://as1.ftcdn.net/v2/jpg/02/81/01/82/1000_F_281018202_g9sN7xwFfYrds9Rsgp8UwaUNEvcaKOoq.jpg"/>
          <h6>Chennai</h6>
        </div>
        <div class="flex-item">
            <img src="https://as1.ftcdn.net/v2/jpg/02/81/01/82/1000_F_281018202_g9sN7xwFfYrds9Rsgp8UwaUNEvcaKOoq.jpg"/>
          <h6>Coimbatore</h6>
        </div>
        <div class="flex-item">
            <img src="https://as1.ftcdn.net/v2/jpg/02/81/01/82/1000_F_281018202_g9sN7xwFfYrds9Rsgp8UwaUNEvcaKOoq.jpg"/>
          <h6>Delhi</h6>
        </div>
        <div class="flex-item">
            <img src="https://as1.ftcdn.net/v2/jpg/02/81/01/82/1000_F_281018202_g9sN7xwFfYrds9Rsgp8UwaUNEvcaKOoq.jpg"/>
          <h6>Kochi</h6>
        </div>
        <div class="flex-item">
            <img src="https://as1.ftcdn.net/v2/jpg/02/81/01/82/1000_F_281018202_g9sN7xwFfYrds9Rsgp8UwaUNEvcaKOoq.jpg"/>
          <h6>Varnasi</h6>
        </div>
        <div class="flex-item">
            <img src="https://as1.ftcdn.net/v2/jpg/02/81/01/82/1000_F_281018202_g9sN7xwFfYrds9Rsgp8UwaUNEvcaKOoq.jpg"/>
          <h6>Chennai</h6>
        </div>
      </div>
      <div  style="background-color: rgba(171, 225, 254, 0.2);width: 100%;" class="py-2 mt-4">
      <div class="container footer">
        <div class="row">
            <div class="col">
                <h2>Subscribe to our news letter</h2>
                <p>Get latest notification of colleges, exams and more ..</p>
                <div class="d-flex justify-content-around align-items-baseline mt-4">
                    <input type="text" class="form-control me-3" placeholder="Enter your email address">
                    <input type="text" class="form-control me-3" placeholder="enter your number">
                    <input type="text" class="form-control me-3" placeholder="enter course name">
                    <input type="text" class="btn btn-primary" value="Subscribe now!">
                </div>
            </div>
        </div>
        <div class="my-3" style="border-top: 2px solid rgba(67, 185, 249, 0.2);" ></div>
        <div class="row" >
            <div class="col-md-3">
                <h3>COLLEGE WORLD</h3>
            </div>
            <div class="col-md-3">
                <h5>Top Universities</h5>
                <p>Engineesing</p>
                <p>Management</p>
                <p>Medical</p>
                <p>Law</p>
                <p>...</p>
            </div>
            <div class="col-md-3">
                <h5>Top College</h5>
                <p>MBA</p>
                <p>MCA</p>
                <p>MTech</p>
                <p>...</p>
            </div>
            <div class="col-md-3">
                <h5>Top Cities</h5>
                <p>Coimbatore</p>
                <p>Chennai</p>
                <p>Delhi</p>
                <p>...</p>
            </div>
            
        </div>
        </div>
      </div>
      
      <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        const header = document.getElementById('navbar-st')
        window.addEventListener("scroll" , function(){
    header.classList.toggle("sticky" , window.scrollY > 0);
})

    </script>
</body>
</html>