<nav class="navbar navbar-expand-lg bg-tranparent">
    <div class="container">
        <a class="navbar-brand text-primary logo" href="#">College World</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link active text-primary" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-primary" aria-current="page" href="{% url 'college' %}">Colleges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-primary" aria-current="page" href="{% url 'study-abroad' %}">Study
                        Abroad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-primary" aria-current="page" href="#">Exams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-primary" aria-current="page" href="#">News</a>
                </li>
                <li class="nav-item dropdown text-primary ">
                    <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                {% comment %}

                {% endcomment %}
            </ul>
        </div>
    </div>
</nav>