{% extends 'auth/layout/app.html' %}


{% block title %} Reset Password {% endblock title %}

{% block heading %}
Enter new password
{% endblock heading %}

{% block body %}
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form method="post">
    {% csrf_token %}
    <div>
        {{ form.new_password1 |show_label }}
        {{ form.new_password1 }}
        {{ form.new_password1 |show_field_errors }}
    </div>
    <div>
        {{ form.new_password2 |show_label }}
        {{ form.new_password2 }}
        {{ form.new_password2 |show_field_errors }}
    </div>
    <input type="submit" class="btn btn-primary mt-3" value="Set Password">
</form>
{% endblock body %}